<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>

  <select id="findByUserName" parameterType="string" resultType="com.company.project.model.User">
    select id,username,password,real_name as realName,user_level as userLevel,register_date as registerDate, `state`
    from `user` where username=#{username}
  </select>

</mapper>